section#about 
  div.title 
    p
      | I'm a graduate in Software Engineering and Information Processing, currently specializing in web development. These are the projects I enjoyed building while following the JavaScript full-stack curriculum from 
      a(href="https://www.theodinproject.com/paths/full-stack-javascript" target="_blank" rel="noopener noreferrer") The Odin Project
      | —learning by doing has been my approach.

    p.
      They could use some refinement, but revisiting their codebases suggests there's only a slim chance I'll actually do it 😅.


  a( href="/cv" )
    |See full resume
    span
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        title Download
        path( d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z")