section#about
  div.title
  p.
    Recent graduate in Software Engineering and Information Processing and
    currently specializing in web development; taking the JS full stack
    curriculum of "The Odin Project" and learning by doing.
  p.
    Excited about technology and eager to : apply my skills to real-world
    projects and learn more in order to bring my project ideas that involves DL,
    3D and more approaches to life.
  
  a( href="/cv" )
    |See full resume
    span
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
        title Download
        path( d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z")