doctype html
html(lan="en")
  head
    meta( charset="UTF-8")
    meta( name="viewport" content="width=device-width, initial-scale=1.0") 
    title Naab's HomePage
    link( rel="stylesheet" href="/stylesheets/style.css")
    if scriptNeeded
      script(type="text/javascript" src="../javascripts/logic.js" defer)
  body
    .main
      block content
    
    //- script 
    //-   include ../logic.js