doctype html
html(lan="en")
  head
    meta( charset="UTF-8")
    meta( name="viewport" content="width=device-width, initial-scale=1.0") 
    title Naab HomePage
    link( rel="stylesheet" href="/stylesheets/style.css")

  body
    .main
      block content
      script 
        include ../logic.js